<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
         xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
         xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
         IgnorableNamespaces="uap uap5 mp rescap desktop4 desktop">
    <Identity Name="FilesDev" Publisher="CN=53EC4384-7F5B-4CF6-8C23-513FFE9D1AB7" Version="2.0.39.0" />
    <Properties>
        <DisplayName>Files - Dev</DisplayName>
        <PublisherDisplayName>Yair A</PublisherDisplayName>
        <Logo>Assets\AppTiles\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.17763.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate" />
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$" desktop4:SupportsMultipleInstances="true">
            <uap:VisualElements DisplayName="Files - Dev" Description="Meet Files, a free and open-source File Manager for Windows 10. Created from the ground up to look and feel amazing, Files is built to replace the dated Windows File Explorer." Square150x150Logo="Assets\AppTiles\Square150x150Logo.png"  Square44x44Logo="Assets\AppTiles\Square44x44Logo.png"  BackgroundColor="transparent">
                <uap:DefaultTile Wide310x150Logo="Assets\AppTiles\Wide310x150Logo.png" Square71x71Logo="Assets\AppTiles\Small71x71Logo.png" Square310x310Logo="Assets\AppTiles\Large310x310Logo.png" ShortName="Files">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
                        <uap:ShowOn Tile="wide310x150Logo"/>
                        <uap:ShowOn Tile="square310x310Logo"/>
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
                <uap:SplashScreen Image="Assets\AppTiles\SplashScreen.png" uap5:Optional="true" />
            </uap:VisualElements>
            <Extensions>
              <uap3:Extension Category="windows.appExtensionHost">
                <uap3:AppExtensionHost>
                  <uap3:Name>com.files.filepreview</uap3:Name>
                </uap3:AppExtensionHost>
              </uap3:Extension>
              <desktop:Extension Category="windows.fullTrustProcess" Executable="Files.Launcher\FilesFullTrust.exe">
                  <desktop:FullTrustProcess>
                      <!--<desktop:ParameterGroup GroupId="DesktopAppExeGroup" Parameters="/DesktopApp"/>
                      <desktop:ParameterGroup GroupId="TerminalGroup" Parameters="/Terminal"/>
                      <desktop:ParameterGroup GroupId="UserFolderPathsGroup" Parameters="/DetectUserPaths"/>-->
                  </desktop:FullTrustProcess>
              </desktop:Extension>
              <uap:Extension Category="windows.protocol">
                  <uap:Protocol ReturnResults="none" Name="files-uwp"/>
              </uap:Extension>
              <uap5:Extension
                Category="windows.appExecutionAlias"
                Executable="files.exe"
                EntryPoint="files.App">
                  <uap5:AppExecutionAlias>
                      <uap5:ExecutionAlias Alias="files.exe"/>
                  </uap5:AppExecutionAlias>
              </uap5:Extension>
              <Extension Category="windows.updateTask" EntryPoint="BackgroundTasks.UpdateTask" />
              <uap:Extension Category="windows.fileTypeAssociation">
                <uap:FileTypeAssociation Name="zip">
                  <uap:SupportedFileTypes>
                    <uap:FileType>.zip</uap:FileType>
                  </uap:SupportedFileTypes>
                </uap:FileTypeAssociation>
              </uap:Extension>
            </Extensions>
        </Application>
    </Applications>
    <Capabilities>
        <!--<rescap:Capability Name="packageQuery"/>-->
        <rescap:Capability Name="runFullTrust" />
        <rescap:Capability Name="broadFileSystemAccess" />
        <rescap:Capability Name="allowElevation"/>
        <uap:Capability Name="removableStorage" />
        <Capability Name="internetClient"/>
        <Capability Name="privateNetworkClientServer"/>
    </Capabilities>
</Package>
