<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet Gallery" value="https://api.nuget.org/v3/index.json" />
    <add key="Project Packages" value="src/Files.App/Assets/Libraries/" />
    <add key="Toolkit Labs" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-Labs/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Project Packages">
      <package pattern="SevenZipSharp" />
    </packageSource>
    <packageSource key="Toolkit Labs">
      <package pattern="CommunityToolkit.Labs.*" />
    </packageSource>
    <packageSource key="NuGet Gallery">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
