<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	IgnorableNamespaces="uap rescap">

	<Identity
		Name="f20f07f5-b301-4f12-92af-febb4e36abaf"
		Publisher="CN=Files Community"
		Version="1.0.2.0" />

	<Properties>
		<DisplayName>Files Unit Test WinUI app</DisplayName>
		<PublisherDisplayName>Files Community</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
			Executable="$targetnametoken$.exe"
			EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="Files.App.UnitTests"
				Description="Files.App.UnitTests"
				BackgroundColor="transparent"
				Square150x150Logo="Assets\Square150x150Logo.png"
				Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>

</Package>
