trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'x64'
  buildConfiguration: 'Release'
  appxPackageDir: '$(build.artifactStagingDirectory)\AppxPackages\\'

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      [xml]$xmlDoc = Get-Content $(Build.SourcesDirectory)\src\Files.Package\Package.appxmanifest
      $xmlDoc.Package.Identity.Name="49306atecsolution.FilesUWP"
        $xmlDoc.Package.Identity.Publisher="CN=53EC4384-7F5B-4CF6-8C23-513FFE9D1AB7"
      $xmlDoc.Package.Properties.DisplayName="Files"
      $xmlDoc.Package.Applications.Application.VisualElements.DisplayName="Files"
      $xmlDoc.Save('$(Build.SourcesDirectory)\src\Files.Package\Package.appxmanifest')
    failOnStderr: true
    
- task: DownloadSecureFile@1
  name: mapsDevKey
  displayName: 'Download Bing Maps Dev Key'
  inputs:
    secureFile: 'BingMapsKey.txt'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    Contents: '$(mapsDevKey.secureFilePath)'
    TargetFolder: '$(Build.SourcesDirectory)\src\Files\Resources'
    overWrite: true

- task: DownloadSecureFile@1
  name: appCenterDevKey
  displayName: 'Download AppCenter Dev Key'
  inputs:
    secureFile: 'AppCenterKey.txt'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    Contents: '$(appCenterDevKey.secureFilePath)'
    TargetFolder: '$(Build.SourcesDirectory)\src\Files\Resources'
    overWrite: true

- task: UseDotNet@2
  inputs:
    packageType: sdk
    version: 6.0.100

- task: MSBuild@1
  inputs:
    platform: 'x64'
    solution: '**/*.wapproj'
    configuration: '$(buildConfiguration)'
    msbuildArguments: '/t:build;_GenerateAppxPackage /restore /p:Configuration=Release;Platform="$(buildPlatform)";AppxBundle=Always;AppxBundlePlatforms="$(buildPlatform)"'
    maximumCpuCount: true

- task: CopyFiles@2
  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
  inputs:
    SourceFolder: '$(system.defaultworkingdirectory)'
    Contents: '**\bin\$(BuildConfiguration)\**'
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
