trigger: none
pr: none

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'x86|x64'
  buildConfiguration: 'Release'
  appxPackageDir: '$(build.artifactStagingDirectory)\AppxPackages\\'

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      [xml]$xmlDoc = Get-Content $(Build.SourcesDirectory)\Files.Package\Package.appxmanifest
      $xmlDoc.Package.Identity.Name="49306atecsolution.FilesUWP"
      $xmlDoc.Package.Properties.DisplayName="Files - Preview"
      $xmlDoc.Package.Applications.Application.VisualElements.DisplayName="Files - Preview"
      $xmlDoc.Save('$(Build.SourcesDirectory)\Files.Package\Package.appxmanifest')
    failOnStderr: true

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: MSBuild@1
  inputs:
    platform: 'x86'
    solution: '**/*.wapproj'
    configuration: '$(buildConfiguration)'
    msbuildArguments: '/t:build;_GenerateAppxPackage /p:AppxBundlePlatforms="$(buildPlatform)" /p:AppxPackageDir="$(appxPackageDir)" /p:AppxBundle=Always /p:UapAppxPackageBuildMode=StoreUpload'

- task: store-flight@0
  timeoutInMinutes: 90
  inputs:
    serviceEndpoint: 'Files'
    appId: '9NGHP3DX8HDX'
    flightName: 'Files UWP Fast Ring'
    packagePath: '$(appxPackageDir)\**\*.msixupload'
    force: false
    skipPolling: false