<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Vanara.Core" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.ComCtl32" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.Cryptography" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.Gdi32" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.Kernel32" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.Ole" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.Rpc" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.Security" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shared" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shell32" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.ShlwApi" version="3.3.12" targetFramework="net472" />
  <package id="Vanara.PInvoke.User32" version="3.3.12" targetFramework="net472" />
</packages>