name: dotnet format

on:
  pull_request:
    branches: [ master ]
    paths:
    - '**.cs'
    - '.editorconfig'

jobs:
  check-format:
    runs-on: windows-latest

    steps:
    - name: check out code
      uses: actions/checkout@v2

    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Install format tool
      run: dotnet tool install -g dotnet-format --version 5.0.142902 --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json

    - name: dotnet format
      run: dotnet-format --fix-style warn --check
